flask>=2.0.2
flask-login>=0.5.0
redis>=4.1.0rc2
hiredis>=2.0.0
wrapt>=1.12.1<1.13
mysql-connector-python>=8.0.27
PyYAML>=6.0
python-dotenv>=0.19.2
passlib>=1.7.4
boto3>=1.20.6
botocore>=1.23.6
retry2>=0.9.3
requests>=2.26.0
python-dateutil>=2.8.2
dnspython>=2.1.0
python-http-client>=3.3.3
sendgrid>=6.9.0
starkbank-ecdsa>=1.1.1
stripe>=2.62.0
pysafebrowsing>=0.1.1
pyOpenSSL>=21.0.0
beautifulsoup4>=4.10.0
gunicorn>=20.1.0
setproctitle>=1.2.2
elasticsearch>=7.15.2
aslookup==1.2.0
tldextract==3.1.2
certvalidator==0.11.1
validators==0.18.2
